.card {
  border: 2px solid #ccc;
}

.btn-primary {
  background-color: #007bff;
}

.btn-secondary {
  background-color: #6c757d;
}

.btn-primary,
.btn-secondary {
  border-color: #007bff;
}

.btn-primary:hover,
.btn-secondary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}